:root {
  --color-white: #ffffff;
  --color-grey-100: #e1e1e6;
  --color-grey-300: #a8a8b3;
  --color-grey-600: #323238;
  --color-grey-700: #29292e;
  --color-grey-800: #1f2729;
  --color-grey-900: #121214;
  --color-black: #000000;
  --color-cyan-500: #61dafb;
  --color-yellow-500: #eba417;

  --container-max-width: 1120px;
  --container-x-gutter: 2rem;
  --border-radius: 3px;

  --header-height: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 87.5%;

  @media (min-width: 720px) {
    font-size: 93.75%;
  }

  @media (min-width: 1080px) {
    font-size: 100%;
  }
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-grey-900);
  color: var(--color-white);
}

body, input, select, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
